{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") }}
source /usr/share/cachyos-fish-config/cachyos-config.fish
{{- end }}

# overwrite greeting
# potentially disabling fastfetch
#function fish_greeting
#    # smth smth
#end

# go path
fish_add_path "/Users/chris/go/bin"

# uv path
fish_add_path "/home/christopher/.local/bin"
