# Fish config

source ~/.config/fish/environment.fish
source ~/.config/fish/path.fish
source ~/.config/fish/functions/bw.fish
source ~/.config/fish/functions/done.fish

zoxide init fish --cmd cd | source

function fish_greeting
	fastfetch
end
