# Done command
set -U __done_min_cmd_duration 10000
set -U __done_notification_urgency_level_low

{{- if eq .chezmoi.os "android" }}
set -Ux BROWSER "/data/data/com.termux/files/usr/bin/open-in-firefox"
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# macOS: Force XDG paths for CLI tools
set -Ux XDG_CONFIG_HOME ~/.config
{{- end }}

{{- if eq .chezmoi.os "linux" }}
set -Ux SSH_AUTH_SOCK "$XDG_RUNTIME_DIR/ssh-agent.socket"
ssh-add ~/.ssh/github_ed25519 &>/dev/null
{{- end }}

set -x MANROFFOPT -c
set -x MANPAGER "sh -c 'col -bx | bat -l man -p'"
