# Done command
set -U __done_min_cmd_duration 10000
set -U __done_notification_urgency_level_low

{{- if eq .chezmoi.os "android" }}
set -Ux BROWSER "open-in-firefox"
set -Ux XDG_CONFIG_HOME $HOME/.config
set -Ux ANDROID_API_LEVEL (getprop ro.build.version.sdk)
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# macOS: Force XDG paths for CLI tools
set -Ux XDG_CONFIG_HOME ~/.config
{{- end }}

{{- if eq .chezmoi.os "linux" }}
set -Ux SSH_AUTH_SOCK "$XDG_RUNTIME_DIR/ssh-agent.socket"
ssh-add ~/.ssh/github_ed25519 &>/dev/null
{{- end }}

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") }}
set -x YAFT clockwise
{{- end }}

set -x MANROFFOPT -c
set -x MANPAGER "sh -c 'col -bx | bat -l man -p'"
