[Unit]
Description=Rclone Mount Google Drive
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount "Google Drive": %h/"Google Drive" \
	--vfs-cache-mode full \
	--dir-cache-time 12h \
	--vfs-cache-max-age 12h \
	--vfs-cache-max-size 5G \
	--umask 022
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
