{{- if and (eq .chezmoi.os "android") -}}
#!/bin/bash

pkg install aerc
pkg install entr
pkg install eza
pkg install fzr
pkg install gh git-delta lazygir
pkg install glow
pkg install golang gopls delve
pkg install helix bash-language-server harper lua-language-server marksman taplo-cli vscode-json-languageserver yaml-language-server
pkg install hugo
pkg install marksman
pkg install pass
pkg install speedtest-go
pkg install tealdeer
pkg install uv

# go packages

go install github.com/Gelio/go-global-update@latest
go install github.com/go-delve/delve/cmd/dlv@latest
go install github.com/goreleaser/goreleaser/v2@latest
go install github.com/orlangure/gocovsh@latest
go install github.com/nametake/golangci-lint-langserver@latest
go install golang.org/x/tools/cmd/goimports@latest

# gh extensions

gh extension install dlvhdr/gh-dash

# tldr

tldr --update

{{- end }}
