{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

# pacman

sudo pacman -Syu

sudo pacman -S --needed bitwarden
sudo pacman -S --needed helix

# paru

paru -Syu

paru -S --needed google-chrome

# gh extensions

gh extension install dlvhdr/gh-dash

# tldr

tldr --update

{{- end }}

