{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") -}}
#!/bin/bash

# pacman packages

sudo pacman -Syu

sudo pacman -S --needed bitwarden
sudo pacman -S --needed bitwarden-cli
sudo pacman -S --needed entr
sudo pacman -S --needed eza
sudo pacman -S --needed bash-language-server
sudo pacman -S --needed fzf
sudo pacman -S --needed github-cli
sudo pacman -S --needed glow
sudo pacman -S --needed go
sudo pacman -S --needed golangci-lint
sudo pacman -S --needed go-tools
sudo pacman -S --needed gopls
sudo pacman -S --needed harper
sudo pacman -S --needed helix
sudo pacman -S --needed httpie
sudo pacman -S --needed hugo
sudo pacman -S --needed jupyterlab
sudo pacman -S --needed lazygit
sudo pacman -S --needed markdownlint-cli2
sudo pacman -S --needed marksman
sudo pacman -S --needed npm
sudo pacman -S --needed nvtop
sudo pacman -S --needed ollama-cuda
sudo pacman -S --needed pass
sudo pacman -S --needed pre-commit
sudo pacman -S --needed speedtest-cli
sudo pacman -S --needed superfile
sudo pacman -S --needed tailscale
sudo pacman -S --needed taplo-cli
sudo pacman -S --needed toot
sudo pacman -S --needed ttf-hack-nerd
sudo pacman -S --needed uv
sudo pacman -S --needed vhs
sudo pacman -S --needed w3m
sudo pacman -S --needed yaml-language-server

# HDR
sudo pacman -S --needed vk-hdr-layer-kwin6-git

# iTerm2 inline images
sudo pacman -S --needed python-pillow python-term-image python-urwidgets

# Enable Global Menu
sudo pacman -S --needed appmenu-gtk-module libdbusmenu-glib

# paru packages

paru -Syu

paru -S --needed google-chrome
paru -S --needed gotestsum
paru -S --needed json-log-viewer
paru -S --needed nb
paru -S --needed nom-bin
paru -S --needed opencode-bin
paru -S --needed slack-desktop-wayland
paru -S --needed tuios-bin
paru -S --needed wego
paru -S --needed wezterm

# go packages

go install github.com/Gelio/go-global-update@latest
go install github.com/go-delve/delve/cmd/dlv@latest
go install github.com/goreleaser/goreleaser/v2@latest
go install github.com/orlangure/gocovsh@latest
go install github.com/nametake/golangci-lint-langserver@latest
go install golang.org/x/tools/cmd/goimports@latest

# npm packages

if command -v npm &> /dev/null; then
  npm config set prefix ~/.local

  if ! npm list -g vscode-langservers-extracted; then
    npm i -g vscode-langservers-extracted
  fi
fi

# uv packages

if command -v uv &> /dev/null; then
  if ! uv tool list | grep -q "posting"; then
    uv tool install posting
  fi
fi

# gh extensions

gh extension install dlvhdr/gh-dash

# Fish plugins

if ! command -v fisher &> /dev/null; then
  curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
fi

fisher install gazorby/fish-abbreviation-tips

# Start services

sudo systemctl enable --now ollama
sudo systemctl enable --now sshd
sudo systemctl enable --now tailscaled

# bat

bat cache --build

# tldr

tldr --update

{{- end }}
