{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Brew packages
brew install "aerc"
brew install "atac"
brew install "bat"
brew install "btop"
brew install "calcure"
brew install "chezmoi"
brew install "eza"
brew install "fd"
brew install "ffmpeg"
brew install "charmbracelet/tap/crush"
brew install "charmbracelet/tap/freeze"
brew install "gh"
brew install "git"
brew install "glow"
brew install "go"
brew install "harper"
brew install "hedhyw/main/jlv"
brew install "helix"
brew install "httpie"
brew install "hugo"
brew install "jq"
brew install "jqp"
brew install "jupyterlab"
brew install "lazygit"
brew install "markdownlint-cli2"
brew install "marksman"
brew install "nom"
brew install "npm"
brew install "orlangure/tap/gocovsh"
brew install "pre-commit"
brew install "sst/tap/opencodeb"
brew install "superfile"
brew install "taplo"
brew install "ttyd"
brew install "uv"
brew install "vdirsyncer"
brew install "vhs"
brew install "wego"
brew install "xwmx/taps/nb"

# Brew casks
brew install --cask "chatgpt"
brew install --cask "claude"
brew install --cask "font-hack-nerd-font"
brew install --cask "goreleaser/tap/goreleaser"
brew install --cask "granola"
brew install --cask "httpie-desktop"
brew install --cask "karabiner-elements"
brew install --cask "nikitabobko/tap/aerospace"
brew install --cask "notion"
brew install --cask "ollama-app"
brew install --cask "raycast"
brew install --cask "steermouse"
brew install --cask "tailscale-app"
brew install --cask "visual-studio-code"

# Go packages
go install golang.org/x/tools/gopls@latest
go install github.com/go-delve/delve/cmd/dlv@latest
go install golang.org/x/tools/cmd/goimports@latest
go install github.com/nametake/golangci-lint-langserver@latest
go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest

# NPM packages
npm i -g bash-language-server
npm i -g vscode-langservers-extracted
npm i -g yaml-language-server@next

{{ end -}}
