{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Brew packages

brew update

# brew install bat
# brew install cmatrix
# brew install entr
# brew install eza
# brew install fastfetch
# brew install fish
# brew install gh
# brew install git
# brew install glow
# brew install go
# brew install gotestsum
# brew install hedhyw/main/jlv
# brew install helix
# brew install hugo
# brew install markdownlint-cli2
# brew install marksman
# brew install newsboat
# brew install "orlangure/tap/gocovsh"
# brew install pass
# brew install pre-commit
# brew install rust
# brew install speedtest-cli
# brew install superfile
# brew install taplo
# brew install tldr
# brew install vhs

# Brew casks

# brew install --cask claude-code
# brew install --cask font-hack-nerd-font
# brew install --cask kitty
# brew install --cask notion
# brew install --cask qflipper
# brew install --cask raycast
# brew install --cask seafile-client
# brew install --cask signal
# brew install --cask surfshark
# brew install --cask tailscale-app
# brew install --cask uhk-agent

# Go packages
# go install golang.org/x/tools/gopls@latest
# go install github.com/go-delve/delve/cmd/dlv@latest
# go install golang.org/x/tools/cmd/goimports@latest
# go install github.com/nametake/golangci-lint-langserver@latest
# go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
# go install github.com/Gelio/go-global-update@latest
# go install github.com/SourcewareLab/Toney/v2@latest
# go install github.com/theantichris/ghost/v3@latest

# NPM packages
# npm i -g bash-language-server
# npm i -g vscode-langservers-extracted
# npm i -g yaml-language-server@next

# Python packages
# uv tool install claudechic --upgrade
# uv tool install jedi-language-server --upgrade
# uv tool install posting --upgrade
# uv tool install toot-tooi --upgrade

# Rust packages

# rustup default stable
# cargo install cargo-update
# cargo install outside

# bat

# bat cache --build

# tldr

# tldr --update

{{ end -}}
