{{- if eq .chezmoi.os "android" -}}
#!/data/data/com.termux/files/usr/bin/bash

pkg install bat
pkg install binutils
pkg install cmatrix
pkg install eza
pkg install fastfetch
pkg install fd
pkg install fish
pkg install fzf
pkg install gh
pkg install glow
pkg install golang
pkg install helix lua-language-server marksman
pkg install newsboat
pkg install perl
pkg install proot-distro
pkg install python uv python-pillow
pkg install ripgrep
pkg install rust
pkg install termux-api
pkg install termux-services
pkg install speedtest-go
pkg install tealdeer
pkg install w3m
pkg install which
pkg install zoxide

# --- NEW: pkg packages ---
# pkg install git-delta
# pkg install jq
# pkg install lazygit
# pkg install nodejs-lts
# pkg install entr
# pkg install hugo

# --- NEW: npm packages (requires nodejs-lts) ---
# npm install -g bash-language-server
# npm install -g vscode-langservers-extracted
# npm install -g yaml-language-server
# npm install -g markdownlint-cli2

# go packages
go install github.com/Gelio/go-global-update@latest
go install github.com/SourcewareLab/Toney/v2@latest
go install github.com/theantichris/ghost/v3@latest
go install golang.org/x/tools/cmd/goimports@latest

# --- NEW: go packages ---
# go install golang.org/x/tools/gopls@latest
# go install github.com/nametake/golangci-lint-langserver@latest
# go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
# go install github.com/gotestyourself/gotestsum@latest
# go install github.com/JohannesKaufmann/html-to-markdown/v2/cli/html2markdown@latest
# go install github.com/spf13/cobra-cli@latest
# go install github.com/orlangure/gocovsh@latest
# go install honnef.co/go/tools/cmd/staticcheck@latest
# go install github.com/go-delve/delve/cmd/dlv@latest  # may fail on Android

# gh extensions
gh extension install dlvhdr/gh-dash

# rust
cargo install cargo-update
OPENSSL_NO_VENDOR=1 cargo install outside

# --- NEW: cargo packages ---
# cargo install taplo-cli
# cargo install typos-cli

# --- NEW: python tools ---
# uv tool install pre-commit --upgrade
# uv tool install httpie --upgrade

# bat
bat cache --build

# tldr
tldr --update

{{- end }}

