{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Brew packages

brew update

brew install "aerc"
brew install "bat"
brew install "btop"
brew install "calcure"
brew install "cmatrix"
brew install "entr"
brew install "eza"
brew install "fastfetch"
brew install "fd"
brew install "fish"
brew install "charmbracelet/tap/crush"
brew install "charmbracelet/tap/freeze"
brew install "gh"
brew install "git"
brew install "glow"
brew install "go"
brew install "gotestsum"
brew install "harper"
brew install "hedhyw/main/jlv"
brew install "helix"
brew install "httpie"
brew install "hugo"
brew install "jq"
brew install "jqp"
brew install "jupyterlab"
brew install "lazygit"
brew install "markdownlint-cli2"
brew install "marksman"
brew install "nom"
brew install "npm"
brew install "orlangure/tap/gocovsh"
brew install "pass"
brew install "pre-commit"
brew install "rust"
brew install "sst/tap/opencodeb"
brew install "superfile"
brew install "taplo"
brew install "tldr"
brew install "toot"
brew install "uv"
brew install "vdirsyncer"
brew install "vhs"
brew install "wego"
brew install "xwmx/taps/nb"

# Brew casks

brew install --cask "chatgpt"
brew install --cask "claude"
brew install --cask "font-hack-nerd-font"
brew install --cask google-drive
brew install --cask "goreleaser/tap/goreleaser"
brew install --cask "granola"
brew install --cask "karabiner-elements"
brew install --cask "nikitabobko/tap/aerospace"
brew install --cask "notion"
brew install --cask "ollama-app"
brew install --cask "raycast"
brew install --cask "steermouse"
brew install --cask "tailscale-app"
brew install --cask "wezterm"

# Go packages
go install golang.org/x/tools/gopls@latest
go install github.com/go-delve/delve/cmd/dlv@latest
go install golang.org/x/tools/cmd/goimports@latest
go install github.com/nametake/golangci-lint-langserver@latest
go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
go install github.com/Gelio/go-global-update@latest

# NPM packages
npm i -g bash-language-server
npm i -g vscode-langservers-extracted
npm i -g yaml-language-server@next

# Python packages
uv tool install posting

# Rust packages

rustup default stable
cargo install cargo-update
cargo install outside

# gh extensions

gh extension install dlvhdr/gh-dash

# bat

bat cache --build

# tldr

tldr --update

# Wezterm terminfo
if ! infocmp wezterm &>/dev/null; then
  tempfile=$(mktemp)
  curl -o $tempfile https://raw.githubusercontent.com/wez/wezterm/main/termwiz/data/wezterm.terminfo
  tic -x -o ~/.terminfo $tempfile
  rm $tempfile
fi

{{ end -}}
