{{- $parrot := and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "parrot") -}}
{{- if $parrot -}}
#!/bin/bash

set -euo pipefail

sudo apt update
sudo apt upgrade -y

sudo apt install -y bat eza fd-find fzf ripgrep
sudo apt install -y fish
sudo apt install -y fastfetch jq

if command -v batcat >/dev/null 2>&1; then
	batcat cache --build
fi

if [ "$(getent passwd "$USER" | cut -d: -f7)" != "$(command -v fish)" ]; then
	sudo chsh -s "$(command -v fish)" "$USER"
fi

{{- end }}
