{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") -}}
#!/bin/bash

# PACMAN
sudo pacman -Syu
sudo pacman -S --needed cmatrix
sudo pacman -S --needed eza
sudo pacman -S --needed glow
sudo pacman -S --needed go delve golangci-lint go-tools gopls goreleaser
sudo pacman -S --needed helix bash-language-server lua-language-server marksman taplo-cli typos-lsp vscode-json-languageserver yaml-language-server
sudo pacman -S --needed kitty-shell-integration kitty-terminfo
sudo pacman -S --needed markdownlint-cli2 pre-commit
sudo pacman -S --needed newsboat
sudo pacman -S --needed ollama-cuda
sudo pacman -S --needed openlinkhub
sudo pacman -S --needed speedtest-cli
sudo pacman -S --needed superfile
sudo pacman -S --needed qflipper
sudo pacman -S --needed tailscale
sudo pacman -S --needed vhs

# GO
go install github.com/spf13/cobra-cli@latest
go install github.com/Gelio/go-global-update@latest
go install github.com/orlangure/gocovsh@latest
go install github.com/nametake/golangci-lint-langserver@latest
go install github.com/SourcewareLab/Toney/v2@latest
go install github.com/theantichris/ghost/v3@latest
go install golang.org/x/tools/cmd/goimports@latest

# RUST
# rustup default stable
# cargo install cargo-update
# cargo install outside

bat cache --build
tldr --update

{{- end }}

