{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") -}}
#!/bin/bash

# pacman

sudo pacman -Syu

# Desktop Environment (Hyprland)
sudo pacman -S --needed appmenu-gtk-module libdbusmenu-glib # global menu
sudo pacman -S --needed breeze breeze-gtk nwg-look
sudo pacman -S --needed hyprcursor hypridle hyprlauncher hyprlock hyprpaper hyprpolkitagent hyprpwcenter hyprshot
sudo pacman -S --needed kitty kitty-shell-integration kitty-terminfo
sudo pacman -S --needed qt5-wayland qt6-wayland
sudo pacman -S --needed satty
sudo pacman -S --needed swaync
sudo pacman -S --needed waybar
sudo pacman -S --needed waypaper
sudo pacman -S --needed wlogout
sudo pacman -S --needed wtype
sudo pacman -S --needed xdg-desktop-portal-hyprland

# Development
sudo pacman -S --needed claude-code
sudo pacman -S --needed entr
sudo pacman -S --needed git git-delta github-cli lazygit
sudo pacman -S --needed github-cli
sudo pacman -S --needed go delve golangci-lint go-tools gopls goreleaser
sudo pacman -S --needed helix bash-language-server lua-language-server marksman taplo-cli typos-lsp vscode-json-languageserver yaml-language-server
sudo pacman -S --needed httpie
sudo pacman -S --needed hugo
sudo pacman -S --needed markdownlint-cli2 pre-commit
sudo pacman -S --needed npm
sudo pacman -S --needed rustup
sudo pacman -S --needed uv
sudo pacman -S --needed vhs

# Network
sudo pacman -S --needed bandwhich
sudo pacman -S --needed bluetui
sudo pacman -S --needed speedtest-cli
sudo pacman -S --needed tcpdump
sudo pacman -S --needed termshark
sudo pacman -S --needed tor
sudo pacman -S --needed whois

# Screensaver
sudo pacman -S --needed cmatrix

# CLI Tools
sudo pacman -S --needed eza
sudo pacman -S --needed fzf
sudo pacman -S --needed gdu
sudo pacman -S --needed glow
sudo pacman -S --needed nvtop
sudo pacman -S --needed pandoc-cli
sudo pacman -S --needed superfile
sudo pacman -S --needed zoxide

# Communication
sudo pacman -S --needed aerc
sudo pacman -S --needed gurk
sudo pacman -S --needed khal
sudo pacman -S --needed newsboat
sudo pacman -S --needed protonmail-bridge
sudo pacman -S --needed signal-desktop
sudo pacman -S --needed python-pillow python-term-image

# Web Browsers
sudo pacman -S --needed chawan
sudo pacman -S --needed w3m

# Games
sudo pacman -S --needed cataclysm-dda
sudo pacman -S --needed dwarffortress
sudo pacman -S --needed faugus-launcher
sudo pacman -S --needed nethack

# Security
sudo pacman -S --needed bitwarden
sudo pacman -S --needed hashcat
sudo pacman -S --needed john
sudo pacman -S --needed metasploit
sudo pacman -S --needed pass
sudo pacman -S --needed tailscale

# Media
sudo pacman -S --needed calibre
sudo pacman -S --needed obs-studio-browser
sudo pacman -S --needed pipewire pwvucontrol wireplumber

# System
sudo pacman -S --needed chezmoi
sudo pacman -S --needed doctl
sudo pacman -S --needed ollama-cuda
sudo pacman -S --needed qflipper
sudo pacman -S --needed sbctl
sudo pacman -S --needed sddm
sudo pacman -S --needed vdirsyncer python-aiohttp-oauthlib

# paru

paru -Syu

# Desktop Environment
paru -S --needed bemoji
paru -S --needed clipse
paru -S --needed crush
paru -S --needed hyprqt6engine
paru -S --needed posting
paru -S --needed rose-pine-hyprcursor
paru -S --needed sddm-astronaut-theme

# Misc
paru -S --needed seafile-client

# Development
paru -S --needed freeze
paru -S --needed gotestsum
paru -S --needed json-log-viewer

# Network
paru -S --needed archtorify-git
paru -S --needed dirb
paru -S --needed superseedr
paru -S --needed surfshark-client

# Screensaver
paru -S --needed rbonsai

# CLI Tools
paru -S --needed squiid

# Communication
paru -S --needed oxicord
paru -S --needed slack-desktop-wayland

# Games
paru -S --needed adom-noteye
paru -S --needed vitetris

# Security
paru -S --needed 1password
paru -S --needed hash-id

# System
paru -S --needed nerdfonts-installer-bin
paru -S --needed tray-tui
paru -S --needed uhk-agent-appimage
paru -S --needed wezterm-nightly-bin
paru -S --needed xdg-terminal-exec

# gh extensions

gh extension install chmouel/gh-news
gh extension install dlvhdr/gh-dash

# Go

go install github.com/floatpane/matcha@latest
go install github.com/spf13/cobra-cli@latest
go install github.com/Gelio/go-global-update@latest
go install github.com/orlangure/gocovsh@latest
go install github.com/nametake/golangci-lint-langserver@latest
go install github.com/SourcewareLab/Toney/v2@latest
go install github.com/theantichris/ghost/v3@latest
go install golang.org/x/tools/cmd/goimports@latest

# Python

uv tool install toot-tooi --upgrade

# Rust

rustup default stable

cargo install cargo-update
cargo install outside

# bat

bat cache --build


# tldr

tldr --update


# daemons

sudo systemctl enable --now ollama
sudo systemctl enable --now OpenLinkHub.service
sudo systemctl enable --now sddm.service
sudo systemctl enable --now sshd
sudo systemctl enable --now tailscaled

systemctl --user enable --now hypridle.service
systemctl --user enable --now hyprpolkitagent.service

{{- end }}

