{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian") -}}
#!/bin/bash

sudo apt update
sudo apt upgrade

sudo apt install fish
sudo apt install gh

# Set fish as default shell if it isn't already
if [ "$SHELL" != "/usr/bin/fish" ]; then
    chsh -s /usr/bin/fish
fi

{{- end }}
