{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Install apt packages
sudo add-apt-repository -y ppa:maveonair/helix-editor
sudo apt update
sudo apt install -y bat
sudo apt install -y btop
sudo apt install -y eza
sudo apt install -y fd-find
sudo apt install -y golang-go
sudo apt install -y gh
sudo apt install -y helix
sudo apt install -y httpie
sudo apt install -y hugo
sudo apt install -y pre-commit
sudo apt install -y wslu
sudo apt install -y zsh

# Install snap packages
sudo snap install marksman

# Install bash packages
bash -c "$(curl -sLo- https://superfile.dev/install.sh)"

# Install go packages
go install github.com/go-delve/delve/cmd/dlv@latest
go install github.com/charmbracelet/freeze@latest
go install github.com/charmbracelet/glow/v2@latest
go install golang.org/x/tools/cmd/goimports@latest
go install github.com/nametake/golangci-lint-langserver@latest
go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
go install golang.org/x/tools/gopls@latest
go install github.com/orlangure/gocovsh@latest
go install github.com/schachmat/wego@latest

# Set default shell to zsh
sudo chsh -s /usr/bin/bash $(whoami)

# Install oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
git clone https://github.com/zsh-users/zsh-syntax-highlighting ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting

# Install nvm and node
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
\. "$HOME/.nvm/nvm.sh"
nvm install 22

# Install npm packages
npm install -g markdownlint-cli2
npm install -g opencode-ai
npm install -g @taplo/cli
npm i -g vscode-langservers-extracted
npm i -g yaml-language-server@next

# Set environment variables
export BROWSER=/usr/bin/wslview

{{ end -}}
