{
  "$schema": "https://opencode.ai/config.json",
  "agent": "plan",
  "model": "anthropic/claude-sonnet-4-5",
  "theme": "system",
  "autoupdate": false,
  "disabled_providers": [
    "openai",
    "gemini"
  ],
  "mcp": {
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{{ pass "context7/api" }}"
      }
    }
  }
}
