configuration {
	show-icons: true;
	icon-theme: "breeze-dark";

	display-drun: "Apps";
	display-window: "Windows";
	display-run: "Run";

	drun-display-format: "{name}";
	disable-history: false;
	case-sensitive: false;
	sorting-method: "fzf";
	matching: "fuzzy";

	kb-row-up: "Up,Control+k";
	kb-row-down: "Down,Control+j";
	kb-accept-entry: "Return,KP_Enter";
	kb-remove-to-eol: "";

	window-format: "{w} {c} {t}";

	modes: "drun,calc";
}

@theme "cyberwave"
