[user]
	name = Christopher Lamm
	email = christopher.lamm@companycam.com
	signingkey = 4EB16A2DFAD93A3BBD557E28915F0915C2FF7E26
[github]
	user = theantichris
[commit]
	gpgsign = true
[rerere]
	enabled = true
[pull]
	rebase = true
[core]
	excludesfile = /Users/christopherlamm/.gitignore
	editor = nano
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pager]
	branch = false
