###############################################################################
# .nbrc
#
# Configuration file for `nb`, a command line note-taking, bookmarking,
# and knowledge base application with encryption, search, Git-backed syncing,
# and more in a single portable script.
#
# Edit this file manually or manage settings using the `nb settings`
# subcommand. Configuration options are set as environment variables, eg:
#   export NB_ENCRYPTION_TOOL=gpg
#
# https://github.com/xwmx/nb
###############################################################################

{{- if eq .chezmoi.os "darwin" }}
export EDITOR=hx
{{- end }}

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") }}
export EDITOR=helix
{{- end }}

export NB_COLOR_PRIMARY=51
export NB_COLOR_SECONDARY=141
export NB_FOLDERS_FIRST=1
export NB_FOOTER="${NB_HEADER:-1}"
export NB_HEADER="${NB_FOOTER:-1}"
export NB_MARKDOWN_TOOL=glow
