[color]
ui = auto

[commit]
gpgsign = true

[core]
editor = helix
excludesFile = .gitignore
autocrlf = input
eol = lf
safecrlf = false
pager = delta

[delta]
navigate = true
dark = true

[diff]
tool = code

[gpg]
format = openpgp

[init]
defaultBranch = main

[interactive]
diffFilter = delta --color-only

[merge]
conflictstyle = zdiff3

[pull]
rebase = true

[push]
default = simple

[user]
email = christopherlamm81@gmail.com
name = Christopher Lamm
signingkey = 6F2EF761E10B68316C7F7041C6813C79B654B7C6
