# Path
export PATH="$HOME/.local/bin:$HOME/go/bin:$PATH"

{{- if eq .chezmoi.os "linux" }}
# Resolve Windows host IP each shell start
export WIN_HOST="$(ip route | awk '/^default/ {print $3}')"
export OLLAMA_HOST="http://$WIN_HOST:11434"
{{- end }}

# Path to your Oh My Zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Theme
ZSH_THEME="cyberwave"

# History
HISTFILE=~/.zsh_history
HISTSIZE=50000
SAVEHIST=50000
setopt INC_APPEND_HISTORY SHARE_HISTORY HIST_IGNORE_DUPS HIST_REDUCE_BLANKS

# Completion
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
COMPLETION_WAITING_DOTS="true"

# fzf
[ -f /usr/share/doc/fzf/examples/key-bindings.zsh ] && source /usr/share/doc/fzf/examples/key-bindings.zsh


# Plugins
plugins=(
  git
  golang
  vscode
  alias-finder
  zsh-autosuggestions
  zsh-syntax-highlighting
)

# Disable corrections
setopt correct
unsetopt correct_all

# Alias finder
ZSH_ALIAS_FINDER_AUTOMATIC=true

# Editor
export EDITOR="hx"

# Source OMZ
source $ZSH/oh-my-zsh.sh

# Aliases
{{- if eq .chezmoi.os "linux" }}
if command -v batcat >/dev/null; then alias cat="batcat"; fi
if command -v fdfind >/dev/null; then alias fd="fdfind"; fi
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
alias cat="bat"
alias gotc="go test ./... -cover --coverprofile coverage.out && gocovsh"
alias ll="eza -lh --git"
alias la="eza -lha --git"
alias ls="eza"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
# Windows interop
if command -v explorer.exe >/dev/null; then
  alias open='explorer.exe .'
  alias winhome='cd /mnt/c/Users/chris'
fi
{{- end }}

alias bu="brew update && brew upgrade"
alias cma="chezmoi apply"
alias cme="chezmoi edit"
alias cmu="chezmoi update"

ghp() {
  gh project "$@" 4 --owner theantichris
}

alias mdlint="markdownlint-cli2 --fix **/*.md"

idea() {
  echo -e "- $(date +"%Y-%m-%d %H:%M"): $*\n" | nb edit 35/2
}

alias tt="toot tui"
