[user]
email = christopherlamm81@gmail.com
name = Christopher Lamm
signingkey = AE19C6DBD0390907

[gpg]
format = openpgp

[commit]
gpgsign = true

[init]
defaultBranch = main

[pull]
rebase = true

[push]
default = simple

[merge]
conflictstyle = diff3

[diff]
tool = code

[color]
ui = auto

[core]
editor = helix
excludesFile = .gitignore
autocrlf = input
eol = lf
safecrlf = false
pager = "cat"
