# wego configuration

# aat-frontend: Show geo coordinates (default false)
aat-coords=false

# aat-frontend: Monochrome output (default false)
aat-monochrome=false

# BACKEND to be used (default openweathermap)
backend=openweathermap

# NUMBER of days of weather forecast to be displayed (default 3)
days=3

# FRONTEND to be used (default ascii-art-table)
frontend=ascii-art-table

# json frontend: do not indent the output (default false)
jsn-no-indent=false

# LOCATION to be queried (default 40.748,-73.985)
location=Knoxville

# md-frontend: Show geo coordinates (default false)
md-coords=false

# openweathermap backend: the api KEY to use (default )
owm-api-key={{ .open_weather_map }}

# openweathermap backend: print raw requests and responses (default false)
owm-debug=false

# openweathermap backend: the LANGUAGE to request from openweathermap (default en)
owm-lang=en

# UNITSYSTEM to use for output.
units=imperial
