{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF

brew "bat"
brew "chezmoi"
brew "eza"
brew "fd"
brew "gh"
brew "git"
brew "glow"
brew "go"
brew "helix"
brew "httpie"
brew "jq"
brew "marksman"
brew "npm"
brew "orlangure/tap/gocovsh"
brew "superfile"
brew "taplo"
brew "wego"
brew "xwmx/taps/nb"

cask "karabiner-elements"
cask "chatgpt"
cask "claude"
cask "claude-code"
cask "font-hack-nerd-font"
cask "granola"
cask "httpie-desktop"
cask "nikitabobko/tap/aerospace"
cask "notion"
cask "ollama-app"
cask "steermouse"
cask "tailscale-app"
cask "visual-studio-code"
cask "warp"

EOF
{{ end -}}
