* {
  min-height: 0;
  border: none;
  border-radius: 10px;
  font-family: KogniGear, Hack Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background: rgba(22, 22, 30, 0);
  color: #EAEAF2
}

#workspaces button {
  /* padding: 5px; */
  color: #8A86A0;
}

#workspaces button.active {
  color: #EAEAF2;
}

#workspaces button.focused {
  background: #CA0174;
  color: #EAEAF2;
}

#workspaces button.urgent {
  background: #FF003C;
  color: #EAEAF2;
}

#workspaces button:hover {
  background: #00F0FF;
  color: #16161E;
}

#clock,
#cpu,
#custom-gpu,
#custom-media,
#custom-notification,
#custom-outside,
#custom-power,
#custom-power-menu,
#custom-storage,
#disk,
#memory,
#mode,
#temperature,
#tray,
#wireplumber,
#workspaces {
  margin: 3px 0px;
  margin-top: 5px;
  padding: 0px 10px;
  background: #1F1F28;
}

#custom-media {
  min-width: 100px;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
  background: #1F1F28;
}

#clock {
  border-right: 0px;
  color: #EAEAF2;
}

#network {
  color: #EAEAF2;
}

#pulseaudio {
  color: #EAEAF2;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio-microphone {
  border-left: 0px;
  border-right: 0px;
  color: #EAEAF2;
}

#custom-gpu.critical {
  background: #FF003C;
}

#temperature.critical {
  background: #FF003C;
}
