* {
    font-family: "Hack Nerd Front", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    transition-property: background-color;
    transition-duration: 0.5s;

    /* Reset all styles */
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

/* The whole bar */
#waybar {
    background-color: transparent;
    color: #cdcefb;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 0px;
    margin: 0px 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
    padding: 4px 8px;
    margin: 2px;
    border-radius: 8px;
    color: #cdcefb;
    background-color: #192a30;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #091a1f;
    background: #16e6c9;
    box-shadow: 0 0 10px #16e6c9, 0 0 20px #16e6c9;
}

#workspaces button:hover {
    background: #264f78;
}

#workspaces button.urgent {
    background-color: #e25e44;
}

#workspaces {
    background-color: #192a30;
    border-radius: 12px;
    padding: 4px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#wireplumber,
#custom-media,
#mode,
#tray,
#custom-power,
#custom-power-menu,
#custom-storage,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
    /* background-color: #192a30; */
    border-radius: 14px;
    padding: 6px;
    background-color: rgba(25, 42, 48, 0.85);
    box-shadow: 0 0 8px rgba(22, 230, 201, 0.2)
}

#cpu {
    color: #ff8ffd;
}

#memory {
    color: #cca700;
}

#custom-weather.severe {
    color: #e25e44;
}

#custom-weather.sunnyDay {
    color: #cca700;
}

#custom-weather.clearNight {
    color: #cdcefb;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
    color: #8e9395;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
    color: #26add0;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
    color: #75beff;
}

#custom-weather.default {
    color: #bdc2c3;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #cdcefb;
}

label:focus {
    background-color: #091a1f;
}

#custom-media {
    background-color: #23d18b;
    color: #091a1f;
    min-width: 100px;
}

#temperature.critical {
    background-color: #e25e44;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #e25e44;
}
