* {
  min-height: 0;
  border: none;
  border-radius: 10px;
  font-family: Hack Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4
}

#workspaces button {
  /* padding: 5px; */
  color: #555869;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  background: #eba0ac;
  color: #a6adc8;
}

#workspaces button.urgent {
  background: #a6e3a1;
  color: #11111b;
}

#workspaces button:hover {
  background: #cdd6f4;
  color: #11111b;
}

#clock,
#cpu,
#custom-gpu,
#custom-media,
#custom-outside,
#custom-power,
#custom-power-menu,
#custom-storage,
#disk,
#memory,
#mode,
#temperature,
#tray,
#wireplumber,
#workspaces {
  margin: 3px 0px;
  margin-top: 5px;
  padding: 0px 10px;
  background: #1e1e2e;
}

#custom-media {
  min-width: 100px;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
  background: #1e1e2e;
}

#clock {
  border-right: 0px;
  color: #a6adc8;
}

#network {
  color: #a6adc8;
}

#pulseaudio {
  color: #a6adc8;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio-microphone {
  border-left: 0px;
  border-right: 0px;
  color: #a6adc8;
}

#custom-gpu.critical {
  background: #e25e44;
}

#temperature.critical {
  background: #e25e44;
}
