* {
    --bg-primary: #091a1f;
    --surface-1: #192a30;
    --text: #cdcdfb;
    --text-muted: #bdc2c3;
    --comment: #8e9395;

    --primary: #16e6c9;
    --secondary: #26add0;
    --quaternary: #ff8ffd;

    --success: #23d18b;
    --warning: #cca700;
    --error: #e25e44;
    --info: #75beff;
    --selection: #264f78;

    font-family: "Hack Nerd Front", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    transition-property: background-color;
    transition-duration: 0.5s;

    /* Reset all styles */
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

/* The whole bar */
#waybar {
    background-color: transparent;
    color: var(--text);
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 0px;
    margin: 0px 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
    padding: 4px 8px;
    margin: 2px;
    border-radius: 8px;
    color: var(--text);
    background-color: var(--surface-1);
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: var(--bg-primary);
    background: var(--primary);
}

#workspaces button:hover {
    background: var(--selection);
}

#workspaces button.urgent {
    background-color: var(--error);
}

#workspaces {
    background-color: var(--surface-1);
    border-radius: 12px;
    padding: 4px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#tray,
#custom-power,
#custom-power-menu,
#custom-storage,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
    background-color: var(--surface-1);
    border-radius: 14px;
    padding: 6px;
}

#cpu {
    color: var(--quaternary);
}

#memory {
    color: var(--warning);
}

#custom-weather.severe {
    color: var(--error);
}

#custom-weather.sunnyDay {
    color: var(--warning);
}

#custom-weather.clearNight {
    color: var(--text);
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
    color: var(--comment);
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
    color: var(--secondary);
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
    color: var(--info);
}

#custom-weather.default {
    color: var(--text-muted);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#pulseaudio {
    color: var(--secondary);
}

#clock {
    color: var(--text);
}

label:focus {
    background-color: var(--bg-primary);
}

#custom-media {
    background-color: var(--success);
    color: var(--bg-primary);
    min-width: 100px;
}

#temperature.critical {
    background-color: var(--error);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: var(--error);
}
