# This is Git's per-user configuration file.
[user]
	signingkey = F51B769C92F0D00C720877634FA6721EC82F83E5
	name = Christopher Lamm
	email = chris@theantichris.com
[commit]
	gpgsign = true
[rerere]
	enabled = true
[pull]
	rebase = true
[core]
	excludesfile = /Users/christopherlamm/.gitignore
	editor = nano
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
