# This is Git's per-user configuration file.
[user]
	signingkey = 3EC2BCC14B19B204E7CDDAB2AB4CBFD3F44D59EA
	name = Christopher Lamm
	email = christopherlamm81@gmail.com
[commit]
	gpgsign = true
[rerere]
	enabled = true
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore
	editor = nano
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	branch = false
