[accounts.icloud]
default = true
display-name = ""
downloads-dir = ""
email = ""

backend.auth.raw = ""
backend.auth.type = "password"
backend.encryption.type = "tls"
backend.host = "imap.mail.me.com"
backend.login = ""
backend.port = 993
backend.type = "imap"

message.send.backend.auth.raw = ""
message.send.backend.auth.type = "password"
message.send.backend.encryption.type = "start-tls"
message.send.backend.host = "smtp.mail.me.com"
message.send.backend.login = ""
message.send.backend.port = 587
message.send.backend.type = "smtp"

archive-folder = "Archive"
draft-folder = "Drafts"
sent-folder = "Sent Messages"
spam-folder = "Junk"
trash-folder = "Deleted Messages"
