theme = "cyberwave"

[editor]
line-number = "relative"
cursorline = true # Highlights current line.
auto-save = true # Saves files on focus loss.
rulers = [80]
{{- if eq .chezmoi.os "windows" }}
shell = ["pwsh", "-Command", ". $PROFILE;"]
{{- end }}

[editor.cursor-shape]
insert = "bar" # Cursor shape in insert mode.
# normal = "block" # Cursor shape in normal mode.

[editor.soft-wrap]
enable = true
max-wrap = 80
max-indent-retain = 40

[editor.file-picker]
hidden = false

[editor.statusline]
left = [
	"mode",
	"spinner",
	"version-control",
	"spacer",
	"separator",
	"file-name",
	"read-only-indicator",
	"file-modification-indicator",
]

center = []

right = [
	"diagnostics",
	"workspace-diagnostics",
	"position",
	"total-line-numbers",
	"position-percentage",
	"file-encoding",
	"file-line-ending",
	"file-type",
	"register",
	"selections",
]

separator = "|"

[keys.normal]
C-s = ":write" # Quick save.
