theme = "cyberwave"

[editor]
auto-save = true
color-modes = true
completion-replace = true
cursorline = true
end-of-line-diagnostics = "hint"
line-number = "relative"
rainbow-brackets = true
rulers = [80]
trim-trailing-whitespace = true
true-color = true

{{- if eq .chezmoi.os "windows" }}
shell = ["pwsh", "-Command", ". $PROFILE;"]
{{- end }}

[editor.cursor-shape]
insert = "bar"

[editor.file-picker]
hidden = false

[editor.indent-guides]
character = "╎"
render = true
skip-levels = 0

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.soft-wrap]
enable = true
max-wrap = 80
max-indent-retain = 40

[editor.statusline]
left = [
	"mode",
	"spinner",
	"version-control",
	"spacer",
	"separator",
	"file-name",
	"read-only-indicator",
	"file-modification-indicator",
]

center = []

right = [
	"diagnostics",
	"workspace-diagnostics",
	"position",
	"total-line-numbers",
	"position-percentage",
	"file-encoding",
	"file-line-ending",
	"file-type",
	"register",
	"selections",
]

separator = "|"
