* {
	background-image: none;
	box-shadow: none;
	font-family: "Electroharmonix"
}

window {
	background-color: #091a1f;
}

button {
  border-radius: 8px;
  border: 2px solid #16e6c9;
  color: #cdcefb;
	background-color: #192a30;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 10px;
	padding: 20px;
}

button:active, button:hover {
	background-color: #001a24;
	border-color: #c73df5;
	box-shadow: 0 0 15px rgba(199, 61, 245, 0.5);
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
