configpath: /Users/chris/Library/Application Support/nom/config.yml
version: ""
backends:
    miniflux:
      - host: https://miniflux.theantichris.com
        api_key: {{ pass "miniflux/api" }}
showread: false
autoread: true
ordering: desc
refreshinterval: 5
filtering:
    defaultIncludeFeedName: true
theme:
    glamour: dark
    titleColor: "51"
    titleColorFg: "231"
    filterColor: "201"
    selectedItemColor: "201"
    readIcon: ✓
