configpath: /Users/chris/Library/Application Support/nom/config.yml
version: ""
backends:
    miniflux:
      host: https://miniflux.theantichris.com
      api_key: {{ pass "miniflux/api" }}
ordering: asc
filtering:
    defaultIncludeFeedName: true
theme:
    glamour: dark
    titleColor: "62"
    titleColorFg: "231"
    filterColor: "62"
    selectedItemColor: "170"
    readIcon: ✓
http:
    mintls: TLS 1.2
