local wezterm = require 'wezterm'
local config = wezterm.config_builder()

config.default_cwd = wezterm.home_dir

{{- if eq .chezmoi.os "windows" }}
config.default_prog = { 'C:/Program Files/PowerShell/7/pwsh.exe' }
{{- end }}

-- Fonts
config.font = wezterm.font('Hack Nerd Font')
{{- if eq .chezmoi.os "windows" }}
config.font_size = 12
{{- else }}
config.font_size = 14
{{- end }}

-- Window
config.window_background_opacity = 0.95

-- Colors
config.colors = {
  foreground = "#cdcefb",
    background = "#091a1f",
    selection_bg = "#264f78",
    selection_fg = "#cdcefb",
    cursor_bg = "#cdcefb",
    cursor_fg = "#091a1f",
    cursor_border = "#cdcefb",
    ansi = {
      "#000000", "#cd3131", "#0dbc79", "#e5e510",
      "#2472c8", "#bc3fbc", "#11a8cd", "#e5e5e5",
    },
    brights = {
      "#666666", "#f14c4c", "#23d18b", "#f5f543",
      "#3b8eea", "#d670d6", "#29b8db", "#e5e5e5",
    },
}

config.keys = {
  {
    key = 'D',
    mods = 'CTRL|SHIFT',
    action = wezterm.action.SplitHorizontal { domain = 'CurrentPaneDomain' },
  },
}

return config
