local wezterm = require 'wezterm'
local config = wezterm.config_builder()
local act = wezterm.action

config.default_cwd = wezterm.home_dir

local triple = wezterm.target_triple or ""
local is_windows = triple:find("windows") ~= nil
local is_macos = triple:find("darwin") ~= nil
local is_linux = triple:find("linux") ~= nil

if is_macos then
  config.default_prog = { "/opt/homebrew/bin/fish", "-l" }
end

if is_windows then
  config.default_prog = { "C:\\Program Files\\PowerShell\\7\\pwsh.exe", "-NoLogo" }

  config.default_domain = "WSL:Ubuntu"
  config.wsl_domains = {
    {
      name = "WSL:Ubuntu",
      distribution = "Ubuntu",
      default_cwd = "/home/chris",
    },
  }
end

-- Graphics
config.enable_kitty_graphics = true
config.enable_kitty_keyboard = true

config.term = "wezterm"

-- Fonts
config.font = wezterm.font('Hack Nerd Font')

if is_macos then
  config.font_size = 14
end

if is_linux then
  config.font_size = 10
end

-- Window
config.enable_tab_bar = false

if is_linux then
  -- Opacity controlled by Hyprland compositor
  config.window_decorations = "NONE"
end

if is_macos then
  config.window_decorations = "RESIZE"
end

-- Confirm before closing panes/tabs
config.skip_close_confirmation_for_processes_named = {}

-- Colors
config.color_scheme_dirs = { wezterm.config_dir .. '/colors' }
config.color_scheme = 'Cyberpunk'

config.send_composed_key_when_left_alt_is_pressed = false
config.send_composed_key_when_right_alt_is_pressed = false

config.keys = {
  -- Fix Delete key with Kitty keyboard protocol
  { key = 'Delete', action = act.SendString '\x1b[3~' },

  { key = '[', mods = 'CTRL|SHIFT', action = act.ActivateCopyMode },
  { key = ':', mods = 'CTRL|SHIFT', action = act.ActivateCommandPalette },

  -- New tab in current working directory
  { key = 'T', mods = 'CTRL|SHIFT', action = act.SpawnTab 'CurrentPaneDomain' },

  -- Pane splitting
  { key = 'D', mods = 'CTRL|SHIFT', action = act.SplitVertical { domain = 'CurrentPaneDomain' } },
  { key = 'S', mods = 'CTRL|SHIFT', action = act.SplitHorizontal { domain = 'CurrentPaneDomain' } },

  -- Pane navigation
  { key = 'H', mods = 'CTRL|SHIFT', action = act.ActivatePaneDirection 'Left' },
  { key = 'J', mods = 'CTRL|SHIFT', action = act.ActivatePaneDirection 'Down' },
  { key = 'K', mods = 'CTRL|SHIFT', action = act.ActivatePaneDirection 'Up' },
  { key = 'L', mods = 'CTRL|SHIFT', action = act.ActivatePaneDirection 'Right' },

  -- Resize mode
  { key = 'R', mods = 'CTRL|SHIFT', action = act.ActivateKeyTable { name = 'resize_pane', one_shot = false } },

  -- Move mode
  { key = 'M', mods = 'CTRL|SHIFT', action = act.ActivateKeyTable { name = 'move_pane', one_shot = false } },

  -- Fullscreen pane
  { key = 'F', mods = 'CTRL|SHIFT', action = act.TogglePaneZoomState },

  -- Close pane
  { key = 'W', mods = 'CTRL|SHIFT', action = act.CloseCurrentPane { confirm = true } },

  -- Close tab
  { key = 'X', mods = 'CTRL|SHIFT', action = act.CloseCurrentTab { confirm = true } },
}

config.key_tables = {
  resize_pane = {
    { key = 'H',      action = act.AdjustPaneSize { 'Left', 1 } },
    { key = 'J',      action = act.AdjustPaneSize { 'Down', 1 } },
    { key = 'K',      action = act.AdjustPaneSize { 'Up', 1 } },
    { key = 'L',      action = act.AdjustPaneSize { 'Right', 1 } },
    { key = 'h',      action = act.AdjustPaneSize { 'Left', 1 } },
    { key = 'j',      action = act.AdjustPaneSize { 'Down', 1 } },
    { key = 'k',      action = act.AdjustPaneSize { 'Up', 1 } },
    { key = 'l',      action = act.AdjustPaneSize { 'Right', 1 } },
    { key = 'Escape', action = 'PopKeyTable' },
  },
  move_pane = {
    { key = 'H',      action = act.RotatePanes 'CounterClockwise' },
    { key = 'L',      action = act.RotatePanes 'Clockwise' },
    { key = 'h',      action = act.RotatePanes 'CounterClockwise' },
    { key = 'l',      action = act.RotatePanes 'Clockwise' },
    { key = 'Escape', action = 'PopKeyTable' },
  },
}

return config
