function upgrade --description 'Package upgrades (homebrew, pacman/paru, npm -g, go-global-update, uv tools, rust)'
    {{- if eq .chezmoi.os "darwin" }}
    brew update
    brew upgrade
    {{- end }}

    {{- if eq .chezmoi.os "android" }}
    pkg update
    pkg upgrade
    {{- end }}

    {{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") }}
    sudo pacman -Rns
    {{- end }}

    go-global-update
    uv tool upgrade --all
    cargo install-update -a
    gh extension upgrade --all
end
