function upgrade --description 'Package upgrades (homebrew, pacman/paru, npm -g, go-global-update, uv tools, rust)'
    {{- if eq .chezmoi.os "android" }}
    pkg update
    pkg upgrade
    {{- end }}

    {{- if eq .chezmoi.os "darwin" }}
    brew update
    brew upgrade
    {{- end }}

    {{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") }}
    cachy-update
    {{- end }}

    {{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") }}
    sudo apt update
    sudo apt upgrade
    {{- end }}

    {{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "versionCodename") (eq .chezmoi.osRelease.versionCodename "echo") }}
    sudo apt update
    sudo apt upgrade -y
    {{- end }}

    go-global-update
    uv tool upgrade --all
    cargo install-update -a
    gh extension upgrade --all
end
